/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: Basic;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	border-left-color: #546c7f;
	border-right-color: #546c7f;
	border-top-color: #546c7f;
	border-bottom-color: #546c7f;
	max-id: 7;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Column1;
	id: 0;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	background-color: #546c7f;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	name: Row1;
	id: 1;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #546c7f;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-Basic
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #546c7f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #546c7f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #546c7f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #546c7f;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-Basic .Column-Column1
{
	
}

.TableStyle-Basic .Head-Header1
{
	
}

.TableStyle-Basic .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadI-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Basic .HeadE-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Basic .HeadF-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadH-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Basic .HeadD-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadC-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadB-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadA-Column1-Header1 p
{
	
}

.TableStyle-Basic .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-Basic .HeadG-Column1-Header1 p
{
	
}

.TableStyle-Basic .Foot-Footer1
{
	
}

.TableStyle-Basic .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .FootI-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Basic .FootE-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Basic .FootF-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Basic .FootH-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-Basic .FootD-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .FootC-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Basic .FootB-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .FootA-Column1-Footer1 p
{
	
}

.TableStyle-Basic .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .FootG-Column1-Footer1 p
{
	
}

.TableStyle-Basic .Foot-Footer2
{
	
}

.TableStyle-Basic .FootI-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootE-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootF-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootH-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootD-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootC-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootB-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootA-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .FootG-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-Basic .FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-Basic .Body-Row1
{
	
}

.TableStyle-Basic .BodyI-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .BodyI-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyE-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Basic .BodyE-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyF-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Basic .BodyF-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyH-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Basic .BodyH-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyD-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-Basic .BodyD-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyC-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .BodyC-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyB-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-Basic .BodyB-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyA-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .BodyA-Column1-Row1 p
{
	
}

.TableStyle-Basic .BodyG-Column1-Row1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-Basic .BodyG-Column1-Row1 p
{
	
}


