/* MadCap Table Style: */

/*<meta Version="7" />*/

mcTableStyle
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-spacing-y: 0;
	border-spacing-x: 0;
	name: BasicAlternateLightBlueRows;
	cell-padding-left: 5px;
	cell-padding-right: 5px;
	cell-padding-top: 5px;
	cell-padding-bottom: 5px;
	max-id: 8;
	border-left-color: #546c7f;
	border-right-color: #546c7f;
	border-top-color: #546c7f;
	border-bottom-color: #546c7f;
}

mcTableColumnStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: Column1;
	id: 0;
	separator-color: #546c7f;
}

mcTableHeadStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
	background-color: #546c7f;
	name: Header1;
	id: 2;
}

mcTableBodyStyle
{
	span: 1;
	separator-style: solid;
	separator-width: 1px;
	name: BlueRows;
	id: 1;
	background-color: #f0f8ff;
	separator-color: #546c7f;
}

mcTableBodyStyle
{
	span: 1;
	id: 8;
	name: WhiteRows;
	separator-style: solid;
	separator-width: 1px;
	separator-color: #546c7f;
}

mcTableFootStyle
{
	span: 1;
	separator-style: solid;
	separator-widte: 1px;
	separator-color: #546c7f;
	name: Footer1;
	id: 3;
	separator-width: 1px;
}

mcTableFootStyle
{
	span: 1;
	id: 7;
	name: Footer2;
	background-color: #546c7f;
	color: #ffffff;
	font-weight: bold;
}


/* Cell Styles: */
 
.TableStyle-BasicAlternateLightBlueRows
{
	border-collapse: collapse;
	border-left-style: solid;
	border-left-color: #546c7f;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-color: #546c7f;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-color: #546c7f;
	border-top-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #546c7f;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

.TableStyle-BasicAlternateLightBlueRows .Column-Column1
{
	
}

.TableStyle-BasicAlternateLightBlueRows .Head-Header1
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadI-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadI-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadE-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .HeadE-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadF-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .HeadF-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadH-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadH-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadD-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .HeadD-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadC-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadC-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadB-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadB-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadA-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadA-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .HeadG-Column1-Header1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .HeadG-Column1-Header1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .Foot-Footer1
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootI-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .FootI-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootE-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .FootE-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootF-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .FootF-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootH-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .FootH-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootD-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-top-color: #546c7f;
	border-top-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .FootD-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootC-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .FootC-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootB-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .FootB-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootA-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .FootA-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootG-Column1-Footer1
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .FootG-Column1-Footer1 p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .Foot-Footer2
{
	
}

.TableStyle-BasicAlternateLightBlueRows .FootI-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootI-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootE-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootE-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootF-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootF-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootH-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootH-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootD-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootD-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootC-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootC-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootB-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootB-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootA-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootA-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .FootG-Column1-Footer2
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	color: #ffffff;
	font-weight: bold;
	background-color: #546c7f;
}

.TableStyle-BasicAlternateLightBlueRows .FootG-Column1-Footer2 p
{
	color: #ffffff;
	font-weight: bold;
}

.TableStyle-BasicAlternateLightBlueRows .Body-BlueRows
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyI-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-BasicAlternateLightBlueRows .BodyI-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyE-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyE-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyF-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyF-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyH-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyH-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyD-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyD-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyC-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-BasicAlternateLightBlueRows .BodyC-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyB-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyB-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyA-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-BasicAlternateLightBlueRows .BodyA-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyG-Column1-BlueRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #f0f8ff;
}

.TableStyle-BasicAlternateLightBlueRows .BodyG-Column1-BlueRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .Body-WhiteRows
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyI-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .BodyI-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyE-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyE-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyF-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyF-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyH-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyH-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyD-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-bottom-width: 1px;
	border-bottom-color: #546c7f;
	border-bottom-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyD-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyC-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .BodyC-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyB-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-right-width: 1px;
	border-right-color: #546c7f;
	border-right-style: solid;
}

.TableStyle-BasicAlternateLightBlueRows .BodyB-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyA-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .BodyA-Column1-WhiteRows p
{
	
}

.TableStyle-BasicAlternateLightBlueRows .BodyG-Column1-WhiteRows
{
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.TableStyle-BasicAlternateLightBlueRows .BodyG-Column1-WhiteRows p
{
	
}


